<DOCTYPE html>
<html>
<head>
	<title>INGRESO PIN</title>
</head>
<body>
<img src="welcomelogo.png">
<div id="padnumerico">
<input id="ingresotexto" type="password" placeholder="Enter the Pin Number"></input>
<br>
<br>
<button class="botonespad" onclick="clickenteclado(1,4)">1</button>
<button class="botonespad" onclick="clickenteclado(2,4)">2</button>
<button class="botonespad" onclick="clickenteclado(3,4)">3</button>
<br>
<br>
<button class="botonespad" onclick="clickenteclado(4,4)">4</button>
<button class="botonespad" onclick="clickenteclado(5,4)">5</button>
<button class="botonespad" onclick="clickenteclado(6,4)">6</button>
<br>
<br>
<button class="botonespad" onclick="clickenteclado(7,4)">7</button>
<button class="botonespad" onclick="clickenteclado(8,4)">8</button>
<button class="botonespad" onclick="clickenteclado(9,4)">9</button>
<br>
<br>
<button class="botonespad" onclick="clickenteclado(0,4)">0</button>
<button class="botonespad" onclick="clickenteclado('00',4)">00</button>
<button class="botonespad" onclick="clickenteclado('del',4)">Delete</button>
</div>

</div>

<div id="ModalPinExist" class="modal">
		<div class="modal-content">
		  <h1>The Pin Number field is empty.</h1>
		  <p class="mid">Please, enter the Pin Number.</p>
		  <button id="pinexistmodalexit" class="salir"> OK </button>
		</div>
  
	  </div> 


<div id="ModalPinDigits" class="modal">
		<div class="modal-content">
		  <h1>The Pin Number must be 4 digits.</h1>
		  <p class="mid">Please, enter again the Pin Number.</p>
		  <button id="pindigitsmodalexit" class="salir"> OK </button>
		</div>
  
	  </div> 

<div id="ModalPinWrong" class="modal">
		<div class="modal-content">
		  <h1>The Pin Number is wrong.</h1>
		  <p class="mid">Please, enter again the Pin Number.</p>
		  <button id="pinwrongmodalexit" class="salir"> OK </button>
		</div>
  
	  </div> 



<div class="footer">
		<button class="boton-exit" OnClick="volver()">Exit</button>
		<button class="boton-login" OnClick="validarPIN()">Continuar</button>
</div>
</body>
</html>